@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}






/* Login form */
.loginform{
    margin: 0 auto;
    width: 30%;
    position: absolute;
    left: 30%;
    top: 30%;
}

form > input{
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 10px;
    margin: 15px;
    border: none;
    transition: 0.7s ease;
}
input:hover{
    transform:scale(1.1) ;
}

input[type=submit]{
    background-color: rgb(7, 230, 189);
    font-size: large;
}



.btnregister{
    width: 20%;
    background-color: black;
    color: white;
    text-decoration:none;
    padding: 10px;
    float: left;
    
    transition: 0.7s ease;
}
.btnregister:hover{
    transform:scale(1.1) ;
    
}